.customContainerClass {
  padding-right: 0px;
  padding-left: 0px;
}

.borderHeader {
  border-bottom: 0.01em solid rgb(204, 204, 204);
  padding: 10px;
}

#right-wheel {
  animation: wheel 5s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes wheel {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

// .logo:hover{
//     // color: red;
//     transition: 0.9s;
//     transform: rotateY(180deg);
// }

.logo {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
