<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-8 smallContainer">
      <h1>I'm Ramnarayan Kotagiri</h1>
      <p>I spend most of my time building and breaking (mostly breaking) software. I love any tool that makes software building
        more fun. I try and contribute to open source when I can. Currently breaking things at FBSI Ltd.</p>
      <div class="contactButtons">
        <a href="assets/Resume.pdf" download="Resume" rel="noopener noreferrer" target="_blank" class="resumeButton">
          View resume</a>
        <a class="resumeButton" [routerLink]="['/about']" routerLinkActive="router-link-active" >Get In Touch</a>
      </div>
    </div>
    <div class="col-sm-4">
      <img src="./assets/images/undraw_version_control_9bpv 1.svg" style="width: 80%;">
    </div>
  </div>
  <div class="row polygon-background">
    <div class="col-sm-12">
      <h2>Skills</h2>
      <div class="col-sm-12">
        <div class="card-deck">
          <div class="card skills-card">
            <img class="card-img-top zoom" src="./assets/images/undraw_developer_activity_bv83.svg" height="200px"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Full Stack Development</h5>
              <p class="card-text"><i>Technologies:</i> Angular 2+, NodeJS, MongoDB, ExpressJS, Jenkins, Docker, EKS,
                SNOW</p>
            </div>
          </div>
          <div class="card skills-card">
            <img class="card-img-top zoom" src="./assets/images/aws-developer.svg" height="200px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Cloud Architecture</h5>
              <p class="card-text">AWS Developer Associate Certification In-Progress</p>
            </div>
          </div>
          <div class="card skills-card">
            <img class="card-img-top zoom" src="./assets/images/automation-developer.svg" height="200px"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Process Automation</h5>
              <p class="card-text"><i>Technologies:</i> Python, JavaScript, NodeJS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div id="cards_landscape_wrap-2">
        <div class="container">
          <h2>Publications</h2>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a href="https://link.springer.com/article/10.1007/s11042-018-6450-2" target="_blank">
                <div class="card-flyer">
                  <div class="text-box">
                    <div class="image-box">
                      <img src="./assets/images/undraw_road_to_knowledge_m8s0.svg" alt="" style="width: 80%;"/>
                    </div>
                    <div class="text-container">
                      <h6>Encrypted separable reversible watermarking with authentication and error correction</h6>
                      <p>Aug 4, 2018 Springer Nature</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a href="https://ieeexplore.ieee.org/document/7838902" target="_blank">
                <div class="card-flyer">
                  <div class="text-box">
                    <div class="image-box">
                      <img src="./assets/images/undraw_reading_list_4boi.svg" alt=""  style="width: 80%;"/>
                    </div>
                    <div class="text-container">
                      <h6>HOG Feature based SVM Classification of Glaucomatous Fundus Image with Extraction of Blood Vessels</h6>
                      <p>Feb 2, 2017 India Conference (INDICON), 2016 IEEE Annual; IEEE Xplore Digital Library</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a href="https://scholar.google.co.in/citations?user=3ggVR3wAAAAJ&hl=en" target="_blank">
                <div class="card-flyer">
                  <div class="text-box">
                    <div class="image-box">
                      <img src="./assets/images/undraw_Reading_book_re_kqpk.svg" alt=""  style="width: 80%;"/>
                    </div>
                    <div class="text-container">
                      <h6>Slantlet Transform – Singular Value Decomposition Based Reversible Watermarking For Medical Images</h6>
                      <p>2017  International Conference on Engineering and Technology (ICET), 2016</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <app-jukebox></app-jukebox>
      <!-- <img src="./assets/images/undraw_mathematics_4otb.svg" style="width: 80%;"> -->
    </div>
  </div>

  <!-- <div class="row polygon-background">
    <div class="col-sm-12">
      <app-jukebox></app-jukebox>
    </div></div> -->

</div>
