<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-8 smallContainer">
      <h1>I'm Ramnarayan Rao Kotagiri</h1>
      <p>I spend most of my time building and breaking (mostly breaking) software. I love any tool that makes building
        software more fun. I try and contribute to open source when I can. Currently breaking things at FBSI Ltd.</p>
      <div class="contactButtons">
        <a href="/assets/Resume.pdf" download="Resume" rel="noopener noreferrer" target="_blank" class="resumeButton">
          View resume</a>
        <a class="resumeButton" href="/about">Get In Touch</a>
      </div>
    </div>
    <div class="col-sm-4">
      <img src="../../assets/images/undraw_version_control_9bpv 1.svg" style="width: 80%;">
    </div>
  </div>
  <div class="row polygon-background">
    <div class="col-sm-12">
        <h2>Skills</h2>
      <div class="col-sm-12">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="../../assets/images/undraw_developer_activity_bv83.svg" height="200px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Full Stack Development</h5>
              <p class="card-text"><i>Technologies:</i> Angular 2+, NodeJS, MongoDB, ExpressJS, Jenkins, Docker, EKS, SNOW</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/images/aws-developer.svg" height="200px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Cloud Architecture</h5>
              <p class="card-text">AWS Developer Associate Certification In-Progress</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/images/automation-developer.svg" height="200px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Process Automation</h5>
              <p class="card-text"><i>Technologies:</i> Python, JavaScript, NodeJS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
